<div class="post-info">
    <div class="w3-margin-right w3-margin-bottom" style="flex-grow: 1;">
        <span class="w3-opacity-min">
        {% include '_includes/article_header_metadata.html' %}

        {% include '_includes/article_header_translations.html' %}
        </span>

        <span class="w3-margin-left w3-margin-top">
            {% include '_includes/article_header_badges.html' %}
        </span>
    </div>
    
    {% include '_includes/article_header_headerimage.html' %}
</div>
