    <div class="article__metadata-item">
        <time datetime="{{ article.date }}"><b>{{ article.date.strftime("%d %b %Y") }}</b></time>
    </div>

    {% if article.ert %}
        <div class="article__metadata-item"><b>{{ article.ert }} to read</b></div>
    {% endif %}
    {% if article.level %}
        <div class="article__metadata-item"><b>Level: {{ article.level }}</b></div>
    {% endif %}
        <div class="article__metadata-item"><b><a href="{{ SITEURL }}/{{ article.url }}#disqus_thread">Comments</a></b></div>

    
