{% for article in articles_page.object_list %}
<article class="article article-loop">

    <header class="article__header">
        <h2><a href="{{ SITEURL }}/{{ article.url }}/">{{ article.title }}</a></h2>
        {% include '_includes/article_header.html' %}
        {% include '_includes/article_header_image.html' %}
    </header>

    <div class="article__body">
        {{ article._summary }}
    </div>

    <footer class="article__footer">
        <span class="article_tags">
            {% if article.tags %}
                {% for tag in article.tags %}
                    <a class="article__category" href="{{ SITEURL }}/{{ tag.url }}" title="All articles with {{ tag.name.title() }} tag">#{{ tag }}</a>
                {% endfor %}
            {% endif %}
        </span>
        <a class="article__button" href="{{ SITEURL }}/{{ article.url }}/">Continue Reading</a>
    </footer>
</article>

<br>

{% endfor %}