<!-- Previous And Next Articles -->
{% if article.prev_article or article.next_article %}
<div class="invisible">
    {% if article.prev_article %}
        <a class="article__button" href="{{ SITEURL }}/{{ article.prev_article.url}}">{{ article.prev_article.title }}</a>
    {% endif %}
    {% if article.next_article %}
        <a class="article__button" href="{{ SITEURL }}/{{ article.next_article.url}}">{{ article.next_article.title }}</a>
    {% endif %}
</div>
{% endif %}


<!-- Share -->
<p class="share-invitation">Did you like this article? Share it with your friends!</p>

<div class="share">
    <a href="http://www.facebook.com/sharer.php?u={{ (SITEURL + '/' + article.url)|urlencode }}&amp;t={{ (SITENAME + ': ' + article.title)|urlencode }}" target="_blank" class="facebook-button">
    <i class="fa fa-facebook"></i>
    <span>Facebook</span>
    </a>
    <a href="http://twitter.com/share?url={{ (SITEURL + '/' + article.url)|urlencode }}&amp;text={{ (SITENAME + ': ' + article.title)|urlencode }}" target="_blank" class="twitter-button">
    <i class="fa fa-twitter"></i>
    <span>Twitter</span>
    </a>
</div>

<!-- News Letter Subscription -->

<ul class="newsletter-container">
    <li>
        <input class="newsletter-check" type="radio" name="ac" id="a1" />
        <label for="a1" class="newsletter-button">
            Get notify when a new article is published! Subscribe to the Newsletter
        </label>
        <div class="newsletter-content">
        
        <p>You can subscribe to the news feed via <strong>Feedly</strong> or <strong>Email</strong>:

            <div class="share">
                <a href='https://feedly.com/i/subscription/feed%2Fhttps%3A%2F%2Ffeeds.feedburner.com%2F{{ FEED_ALL_ATOM }}' target='blank'
                    onclick="ga('send', 'event', 'Feedly Subscribe Button', 'click', 'Newsletter'); return true">
                    <img id='feedlyFollow' src='http://s3.feedly.com/img/follows/feedly-follow-rectangle-flat-big_2x.png' alt='follow us in feedly' width='131' height='56'>
                </a>

                <a class="newsletter-button" target="popupwindow" href="https://feedburner.google.com/fb/a/mailverify?uri={{ FEED_ALL_ATOM }}"
                    onclick="window.open('https://feedburner.google.com/fb/a/mailverify?uri={{ FEED_ALL_ATOM }}', 'popupwindow', 'scrollbars=yes,width=550,height=450'); ga('send', 'event', 'Email Subscribe Button', 'click', 'Newsletter'); return true" >
                    <i class="fa fa-envelope"></i>
                    Email
                </a>
            </div>
        
        </p>

        <p>In case you use another reader, check the full list in the <a href="http://feeds.feedburner.com/{{ FEED_ALL_ATOM }}" target="_blank">FeedBurner Pages</a></p>

        </div>
    </li>
</ul>



<!-- Related Posts -->
{% if article.related_posts %}
<h4 class="related-post-title">Related posts:</h4>
<div class="article-related">
    {% for related_post in article.related_posts %}
        <div class="article-related-post">            
            <div class="article-related-post-body">
                <h5><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></h5>

                {% if related_post.headerimage %}
                    {% if related_post.headerimage[-3:].lower() in ['jpg', 'png'] %}
                        <a href="{{ SITEURL }}/{{ related_post.url }}" aria-label="Related Post">
                            <img alt="Related Article Header Image" class="b-lazy article-related-post-img" data-src="{{related_post.headerimage}}" width="900px" height="auto" src="{{ related_post.headerimage[:-4] + '-thumbnail' + related_post.headerimage[-4:]  }}">
                        </a>
                    {% else %}
                        <a href="{{ SITEURL }}/{{ related_post.url }}" aria-label="Related Post">
                            <img alt="Related Article Header Image" class="article-related-post-img" width="900px" height="auto" src="{{related_post.headerimage}}">
                        </a>
                    {% endif %}
                {% endif %}

                <span>{{ related_post._summary|striptags }}</span>
            </div>
        </div>
    {% endfor %}
</div>
{% endif %}