{% for article in articles_page.object_list %}
<article class="w3-container w3-card-2 w3-white col-main">

    <header>
        <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
        {% include '_includes/article_header.html' %}
    </header>

    <div class="entry-content" style="text-align: justify;">
        {{ article.summary|striptags }}
    </div>

    <footer class="w3-margin-top">
        <div class="w3-row">
            {% include '_includes/article_header_tags.html' %}
            <a class="w3-btn w3-margin-top w3-blue w3-right" style="margin-left: auto;" href="{{ SITEURL }}/{{ article.url }}">Continue Reading &#10093;</a>
        </div>
    </footer>
</article>

<br>

{% endfor %}