{% for article in articles_page.object_list %}
<article class="article article-loop">

    <header class="article__header">
        <h2><a href="{{ SITEURL }}/{{ article.url }}/">{{ article.title }}</a></h2>
        {% include '_includes/article_header.html' %}
    </header>

    <div class="article__body">
        {{ article.summary|striptags }}
    </div>

    <footer class="article__footer">
        <span class="article_tags">
            {% include '_includes/article_header_tags.html' %}
        </span>
        <a class="article__button" href="{{ SITEURL }}/{{ article.url }}/">Continue Reading</a>
    </footer>
</article>

<br>

{% endfor %}