
<!-- Previous And Next Articles -->
{% if article.prev_article or article.next_article %}
<section class="invisible">
    <h2 data-l10n-id="previous-next">Do not forget to check the previous and next Articles</h2>
    {% if article.prev_article %}
        <a class="article__button" href="{{ SITEURL }}/{{ article.prev_article.url}}">{{ article.prev_article.title }}</a>
    {% endif %}
    {% if article.next_article %}
        <a class="article__button" href="{{ SITEURL }}/{{ article.next_article.url}}">{{ article.next_article.title }}</a>
    {% endif %}
</section>
{% endif %}

<!-- Contribution -->
<section>
    <h2 class="colaboration-invitation"><span data-l10n-id="colaboration-invitation">Did you find a bug or a typo? Have a Suggestion?</span></h2>

    <div class="share">
        <a target="_blank" class="contribute-button" 
        href='{{ CONTRIBUTION_URL + ( article.source_path[article.source_path.find(CONTRIBUTION_PATH_REPLACE) + ( CONTRIBUTION_PATH_REPLACE |length) :] | replace("\\","/") ) }}'
        onclick="ga('send', 'event', 'Contribution', 'click', 'Article Contribution'); return true" 
        data-l10n-id="colaboration-button">
        </a>
    </div>
</section>

<!-- Share -->
<section>
    <h2 class="share-invitation"><span data-l10n-id="share-invitation">Did you like this article? Share it with your friends!</span></h2>

    <div class="share">
        <a href="http://www.facebook.com/sharer.php?u={{ (SITEURL + '/' + article.url)|urlencode }}&amp;t={{ (SITENAME + ': ' + article.title)|urlencode }}" target="_blank" class="facebook-button"
        onclick="ga('send', 'event', 'Facebook Share', 'click', 'Facebook Share'); return true" >
            <i class="fa fa-facebook"></i>
            Facebook
        </a>
        <a href="http://twitter.com/share?url={{ (SITEURL + '/' + article.url)|urlencode }}&amp;text={{ ( '@ELCWeb wrote this interesting article: ' + article.title)|urlencode }}" target="_blank" class="twitter-button"
        onclick="ga('send', 'event', 'Twitter Share', 'click', 'Twitter Share'); return true" >
            <i class="fa fa-twitter"></i>
            Twitter
        </a>
    </div>
</section>

<!-- News Letter Subscription -->

<ul class="newsletter-container">
    <li>
        <input class="newsletter-check" type="radio" name="ac" id="a1" />
        <label for="a1" class="newsletter-button" data-l10n-id="newsletter-button"></label>
        <section class="newsletter-content">
            <h2>
                <span data-l10n-id="subscribe-options">You can subscribe to the news feed via</span><strong> Feedly </strong>
                <span data-l10n-id="or">or</span><strong> Email</strong>:
            </h2>

            <div class="share">
                <a href='https://feedly.com/i/subscription/feed%2Fhttps%3A%2F%2Ffeeds.feedburner.com%2F{{ FEED_ALL_ATOM }}' target='blank'
                    onclick="ga('send', 'event', 'Feedly Subscribe Button', 'click', 'Newsletter'); return true">
                    <img id='feedlyFollow' src='http://s3.feedly.com/img/follows/feedly-follow-rectangle-flat-big_2x.png' alt='follow us in feedly' width='131' height='56'>
                </a>

                <a class="newsletter-button" target="popupwindow" href="https://feedburner.google.com/fb/a/mailverify?uri={{ FEED_ALL_ATOM }}"
                    onclick="window.open('https://feedburner.google.com/fb/a/mailverify?uri={{ FEED_ALL_ATOM }}', 'popupwindow', 'scrollbars=yes,width=550,height=450'); ga('send', 'event', 'Email Subscribe Button', 'click', 'Newsletter'); return true" >
                    <i class="fa fa-envelope"></i>
                    Email
                </a>
            </div>
            
            <p>
                <span data-l10n-id="newsletter-feedburner"></span>
                <a href="http://feeds.feedburner.com/{{ FEED_ALL_ATOM }}" target="_blank">FeedBurner Pages</a>
            </p>

        </section>
    </li>
</ul>

<!-- Related Posts -->
{% if article.related_posts %}
<section class="article-related">
    <h2 class="article-related-title" data-l10n-id="related-posts">Related Posts</h2>
    {% for related_post in article.related_posts %}
        <article class="article-related-post">
            {% if related_post.headerimage %}
                {% if related_post.headerimage[-3:].lower() in ['jpg', 'png'] %}
                    <a class="article-related-post-link" href="{{ SITEURL }}/{{ related_post.url }}" aria-label="Related Post">
                        <img alt="Related Article Header Image" class="b-lazy article-related-post-link-img" data-src="{{related_post.headerimage}}" src="{{ related_post.headerimage[:-4] + '-thumbnail' + related_post.headerimage[-4:]  }}">
                    </a>
                {% else %}
                    <a class="article-related-post-link" href="{{ SITEURL }}/{{ related_post.url }}" aria-label="Related Post">
                        <img alt="Related Article Header Image" class="article-related-post-link-img" src="{{related_post.headerimage}}">
                    </a>
                {% endif %}
            {% endif %}          
            <div class="article-related-post-body">
                <h3 class="article-related-post-body-title"><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></h3>
                
                <p class="article-related-post-body-description">{{ related_post._summary|striptags }}</p>
            </div>
        </article>
    {% endfor %}
</section>
{% endif %}