{% if article.related_posts %}
    <h4 class="related-post-title">Related posts:</h4>
    <div class="article-related">
        {% for related_post in article.related_posts %}
            <div class="article-related-post">
                {% if related_post.headerimage %}
                    <a href="{{ SITEURL }}/{{ related_post.url }}"><img alt="Related Article Header Image" class="article-related-post-img" width="150px" height="150px" src="{{related_post.headerimage}}"></a>
                {% endif %}
                <div class="article-related-post-body">
                    <h5><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></h5>
                    <span>{{ related_post.summary }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}