@import 'auxiliary';

$small-break-point: 425px;
$medium-break-point: 768px;
$large-break-point: 900px;
$xlarge-break-point: 1024px;

$font-dark: #333333;
$font-light: #B8B8B8;
$font-lighter: #E8E8E8;

$link-normal: #004b85;
$link-lighter: #006cc1;

$background-dark: #111111;
$background-light: #fcfcfc;


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: $background-light;
    margin: 0;
}

.invisible {
    display: none
}

video {
    max-width: 100%;
}

a {
    &[target="_blank"]:not([href*="github.com"]):not(:has(img)):after {
        font-family: 'FontAwesome';
        content: " \f08e";
    }

    &[href*="github.com"]:after {
        font-family: 'FontAwesome';
        content: " \f09b";
    }
}

.paginator {
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 30px auto;
    @include fluid-type(font-size, $small-break-point, $large-break-point, 12pt, 16pt);

    &_disabled {
        color: $font-dark;
        background-color: $background-light !important;
        @include fluid-type(padding, $small-break-point, $large-break-point, 6px, 16px);
    }

    &_archive {
        margin-top: 50px;
        text-align: center;
        @include fluid-type(font-size, $small-break-point, $large-break-point, 12pt, 16pt);

        a {
            background-color: $link-normal;
            color: $font-light;
            text-decoration: none;
            font-weight: 300;
            transition: background-color 0.5s ease;
            @include fluid-type(padding, $small-break-point, $large-break-point, 6px, 14px);
        }

        a:hover {
            background-color: $link-lighter;
        }
    }

    &_active {
        color: $font-light;
        text-decoration: none;
        background-color: $link-normal;
        @include fluid-type(padding, $small-break-point, $large-break-point, 6px, 16px);
    }

    li {
        display: inline;
    }

    a {
        color: $font-light;
        text-decoration: none;
        background-color: $link-normal;
        transition: background-color 0.5s ease;
        @include fluid-type(padding, $small-break-point, $large-break-point, 6px, 16px);

        &:hover {
            background-color: $link-lighter;
        }
    }
}


.footer {
    background-color: $background-dark;
    text-align: center;
    color: $font-light;
    font-size: 16pt;
    padding: 20px 0 20px 0;
    max-width: 900px;

    a {
        color: $font-light;
        text-decoration: none;
        font-weight: 500;
        transition: color 1s ease;

        &:hover {
            color: $font-lighter;
            transition: color 1s ease;
        }
    }

    &-container {
        display: flex;
        justify-content: space-evenly;
        margin: 0 auto 30px auto;
        flex-direction: column;

        @media only screen and (min-width: $small-break-point) {
            flex-direction: row;
            padding-top: 20px;
        }
    }

    &-container__column {
        list-style-type: none;
        padding: 0;
        margin: 0;

        &-header {
            font-weight: bold;
            margin: 25px 0 0;

            @media only screen and (min-width: $small-break-point) {
                display: none;

            }
        }
    }

}




.article,
.page {
    margin: 10px 2em 10px;
    text-align: justify;
    max-width: 900px;
    box-sizing: border-box;
    @include fluid-type3(font-size, $small-break-point, $medium-break-point, $large-break-point, 12pt, 14pt, 16pt);
    @include fluid-type3(line-height, $small-break-point, $medium-break-point, $large-break-point, 1.8, 1.7, 1.6);

    @media only screen and (min-width: $large-break-point) {
        margin: 10px auto 10px;
    }

    img {
        display: block;
        max-width: 100%;
        margin: 0 auto;

        @media only screen and (min-width: $xlarge-break-point) {
            margin-left: -7vw;
            max-width: calc(100% + 14vw);
        }
    }

    .headerimage-article {
        box-shadow: inset 0px 0px 10px 15px $background-light;

        img {
            position: relative;
            z-index: -2;

            @media only screen and (min-width: $xlarge-break-point) {
                margin-left: 0;
                width: 100%;
            }
        }
    }
}


.article__header h1,
.page-header h1,
.category h1,
.tag h1 {
    margin: 10px 0 15px;
    @include fluid-type3(font-size, $small-break-point, $medium-break-point, $large-break-point, 24pt, 28pt, 32pt);
}

.narrow {
    max-width: 100%;
    margin: 0 auto !important;
}

.svg-button {
    margin-top: 10px !important;
    width: 120px;
}

.extended {
    width: 100%;
}


.article section a,
.page a {
    color: $link-normal;
    text-decoration: none;

    &:hover {
        color: $link-lighter;
        transition: color 0.5s ease;
    }
}

.article {

    &__header {
        text-align: center;

        h2 {
            margin: 10px 0 10px;
            font-size: 22pt;
        }

        a {
            color: $font-dark;
            text-decoration: none;
        }
    }

    &-complete {
        padding: 25px 0;
    }

    &-loop {
        padding: 10px 40px 55px;
        border-bottom: .2rem solid #555;
    }

    &__body {
        text-align: justify;
    }

    &__footer {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;

        @media only screen and (min-width: $medium-break-point) {
            justify-content: space-between;
            flex-wrap: nowrap;
            flex-direction: row;
        }
    }

    &_tags {
        display: flex;
        flex-direction: column;
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;

        @media only screen and (min-width: $small-break-point) {
            flex-direction: row;
        }
    }

    &__category {
        color: $link-normal;
        text-decoration: none;
        padding: 5px;
        font-size: 14pt;
        font-weight: 500;
        transition: color 0.5s ease;

        &:hover {
            color: $link-lighter;
            transition: color 0.5s ease;
        }
    }

    &__button {
        text-align: center;
        color: $font-light;
        text-decoration: none;
        background-color: $link-normal;
        padding: 10px 25px;
        align-self: flex-end;
        box-sizing: border-box;
        margin: 10px auto 0;
        font-weight: 400;
        font-size: 14pt;
        transition: background-color 0.5s ease;

        @media only screen and (min-width: $medium-break-point) {
            margin: 0;
        }


        &:hover {
            background-color: $link-lighter;
            transition: background-color 0.5s ease;
        }
    }

    &__subheader {
        line-height: 100%;
        white-space: nowrap;

        @media only screen and (min-width: $large-break-point) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__metadata {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;

        @media only screen and (min-width: $small-break-point) {
            flex-direction: row;
            margin: 0;
        }
    }

    &__metadata-item {
        display: block;
        wrap: nowrap;
        opacity: 0.75;
        font-size: 14pt;
        margin: 5px 0;

        @media only screen and (min-width: $small-break-point) {
            display: inline-block;
            wrap: nowrap;
            margin: 0 5px 0;
        }
    }


    &__badges {
        display: flex;
        justify-content: center;
        margin: 10px;

        img {
            margin-left: 5px !important;
            height: 28px;
        }
    }

    &__translations {
        text-align: left;

        a {
            color: $link-normal !important;

            &:hover {
                color: $font-lighter; 
                transition: color 0.5s ease;
            }
        }
    }

}


.copyright {
    display: flex;
    justify-content: center;
    flex-direction: column;

    span {
        margin-bottom: 5px;
    }
}

.article-related {
    display: flex;
    flex-direction: column;

    &-title {
        margin: 0 0 10px 0;
        color: $link-normal;
    }

    &-post {
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        margin-bottom: 20px;
        border-bottom: 0.1rem solid #333333aa;

        @media only screen and (min-width: $xlarge-break-point) {
            margin: 10px;
            flex-direction: row;
        }

        &-link {
            flex: 5 1 0;
            align-self: center;

            &-img {
                margin-left: 0 !important;
                max-width: 100%;
                border-radius: 15px;
                width: 100%;
            }
        }


        &-body {
            display: flex;
            flex-direction: column;
            flex: 10 1 0;

            &-title {
                margin: 10px;
                font-size: 18pt;
                text-align: center;

                a {
                    color: $link-normal !important;
                    text-decoration: none;
                }
            }

            &-description {
                margin: 1em;
                font-size: 12pt;
                align-self: center;

                @media only screen and (min-width: $xlarge-break-point) {
                    margin: 0 1em 1em 1em;
                }

            }

        }

    }



}

.share {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        text-decoration: none;
        color: $font-light !important;
    }

    img {
        margin: 0;
    }

    @media only screen and (min-width: $medium-break-point) {
        flex-direction: row;
        justify-content: center;
    }
}

.facebook-button,
.twitter-button,
.newsletter-button,
.email-button,
.contribute-button {
    margin-left: 10px;
    padding: 0.25em 1em;
}

.facebook-button {
    background-color: #3f51b5;
}

.twitter-button {
    background-color: #2196F3;
}

.newsletter-button {
    text-decoration: none;
    color: $font-light;
    background-color: $link-normal;
}

.contribute-button {
    text-decoration: none;
    color: $font-light;
    background-color: #333333;
}

.email-button {
    text-decoration: none;
    color: $font-light;
    background-color: #f44336;
}

.page-content {
    margin-bottom: 3em;
}

.category,
.tag {
    text-align: center;
}

.colaboration-invitation,
.share-invitation {
    font-size: 10pt;
    font-style: italic;
    text-align: center;
}

.gist {

    @media only screen and (min-width: $xlarge-break-point) {
        margin-left: -7vw;
        width: calc(100% + 14vw);
    }
}

$max-height: 60px;
$min-height: 40px;

.back-to-top {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    bottom: -70px;
    transition: transform 0.7s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    position: fixed;
    right: 4vw;
    z-index: 1;
    background-color: #333;
    color: $font-lighter;
    text-align: center;

    @include fluid-type(font-size, 320px, 1024px, 12pt, 18pt);
    @include fluid-type(border-radius, 320px, 1024px, $min-height, $max-height);
    @include fluid-type(width, 320px, 1024px, $min-height, $max-height);
    @include fluid-type(height, 320px, 1024px, $min-height, $max-height);
    @include fluid-type(line-height, 320px, 1024px, $min-height * 1.1, $max-height);
}

.fa-github {
    color: black;
}

iframe {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.iframe-container {
    overflow: hidden;
    position: relative;

    iframe {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.youtube-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

// Newsletter Specifics

.newsletter {

    &-check {
        display: none;
    }

    &-container {
        list-style: none;
        padding: 0;
    }

    &-container label {
        display: block;
        position: relative;
        text-align: center;
        cursor: pointer;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
    }

    &-content {
        padding: 0 20px 0 20px;
        text-align: center;
        display: none;

        h2 {
            font-size: 14pt;
        }
    }

    &-container input:checked~&-content {
        display: block;
    }

}