$final-opacity: 0.9;
$final-width: 300px;
$final-width-medium: 400px;
$final-width-large: 500px;
$height: 50px;

@mixin crossBrowser($property, $val) {
    -webkit-#{$property}: $val;
    -moz-#{$property}: $val;
    -ms-#{$property}: $val;
    #{$property}: $val;
}

#toast {
    visibility: hidden;
    max-width: 50px;
    height: $height;
    margin: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 30px;
    font-size: 12px;
    white-space: nowrap;
    opacity: $final-opacity;

    @media only screen and (min-width: 768px) {
        font-size: 14px;
    }

    @media only screen and (min-width: 1024px) {
        font-size: 18px;
    }

    #toast--icon {
        width: 50px;
        height: $height;
        line-height: $height;
        border-radius: 10px;
        float: left;        
        background-color: #111;
    }

    #toast--desc {
        line-height: $height;
    }

}

#toast.show {
    visibility: visible;
    @include crossBrowser(animation, (fadein 0.5s, expand 1s 0.5s, stay 3s 1.5s, shrink 1s 4.5s, fadeout 0.5s 5.5s));
}


@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: $final-opacity;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: $final-opacity;
    }
}

@-webkit-keyframes expand {
    from {
        min-width: 50px
    }

    to {
        min-width: $final-width;
    }
}

@keyframes expand {
    from {
        min-width: 50px
    }

    to {
        min-width: $final-width;
    }
}

@-webkit-keyframes stay {
    from {
        min-width: $final-width;
    }

    to {
        min-width: $final-width;
    }
}

@keyframes stay {
    from {
        min-width: $final-width;
    }

    to {
        min-width: $final-width;
    }
}

@-webkit-keyframes shrink {
    from {
        min-width: $final-width;
    }

    to {
        min-width: 50px;
    }
}

@keyframes shrink {
    from {
        min-width: $final-width;
    }

    to {
        min-width: 50px;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: $final-opacity;
    }

    to {
        bottom: 60px;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: $final-opacity;
    }

    to {
        bottom: 60px;
        opacity: 0;
    }
}

@media only screen and (min-width: 768px) {

    @-webkit-keyframes expand {
        from {
            min-width: 50px
        }

        to {
            min-width: $final-width-medium;
        }
    }

    @keyframes expand {
        from {
            min-width: 50px
        }

        to {
            min-width: $final-width-medium;
        }
    }

    @-webkit-keyframes stay {
        from {
            min-width: $final-width-medium;
        }

        to {
            min-width: $final-width-medium;
        }
    }

    @keyframes stay {
        from {
            min-width: $final-width-medium;
        }

        to {
            min-width: $final-width-medium;
        }
    }

    @-webkit-keyframes shrink {
        from {
            min-width: $final-width-medium;
        }

        to {
            min-width: 50px;
        }
    }

    @keyframes shrink {
        from {
            min-width: $final-width-medium;
        }

        to {
            min-width: 50px;
        }
    }

}

@media only screen and (min-width: 1024px) {

    @-webkit-keyframes expand {
        from {
            min-width: 50px
        }

        to {
            min-width: $final-width-large;
        }
    }

    @keyframes expand {
        from {
            min-width: 50px
        }

        to {
            min-width: $final-width-large;
        }
    }

    @-webkit-keyframes stay {
        from {
            min-width: $final-width-large;
        }

        to {
            min-width: $final-width-large;
        }
    }

    @keyframes stay {
        from {
            min-width: $final-width-large;
        }

        to {
            min-width: $final-width-large;
        }
    }

    @-webkit-keyframes shrink {
        from {
            min-width: $final-width-large;
        }

        to {
            min-width: 50px;
        }
    }

    @keyframes shrink {
        from {
            min-width: $final-width-large;
        }

        to {
            min-width: 50px;
        }
    }
}