{% extends "base.html" %}

{% block title %}{{ article.title|striptags }} &ndash; {{ SITENAME }}{% endblock %}

{% block content %}

<br>

<article>
  <header class="w3-container col-main">
    <h1>{{ article.title }}</h1>
    {% include '_includes/article_header.html' %}
  </header>

  <br>

  <div class="col-main w3-container">
    <section id="content">
      {{article.content}}
    </section>

    <br>

    <footer>

      {% include '_includes/article_prev_next.html' %}

      {% include '_includes/article_author_info.html' %}

      {% include '_includes/article_share.html' %}

      {% include '_includes/article_related_posts.html' %}

      {% include "_includes/disqus.html" %}

    </footer>
  </div>
</article>

{% endblock content %}
