{% extends "base.html" %}

{% block title %}{{ article.title|striptags }} &ndash; {{ SITENAME }}{% endblock %}

{% block content %}

<article class="article">
  <header class="article__header">
    <h1>{{ article.title }}</h1>
    {% include '_includes/article_header.html' %}
  </header>

  <section >
    {{article.content}}
  </section>

  <footer>

    {% include '_includes/article_prev_next.html' %}

    {% include '_includes/article_author_info.html' %}

    {% include '_includes/article_share.html' %}

    {% include '_includes/article_related_posts.html' %}

    {% include "_includes/disqus.html" %}

  </footer>
</article>

{% endblock content %}
