{% extends "base.html" %}

{% block title %}Author &ndash; {{ SITENAME }}{% endblock %}

{% block content %}

<div class="invisible">
  <h1>Author</h1>

  <br>

  {%- for author, articles in authors|sort %}
    {% if author==AUTHOR %}
    <div>
      {% include "_includes/authors_list_item_head.html" %}

      <p>{{ AUTHOR_DESCRIPTION }}</p>

      <div>
        <a href="{{ SITEURL }}/{{ author.url }}/">All articles &#10093;</a>
      </div>
    </div>

    <br><br><br>

    {% endif %}
  {% endfor %}

  {% if authors|count > 1 %}
    <h2>Other authors</h2>
    <br>

    {%- for author, articles in authors|sort %}
      {% if author!=AUTHOR %}
      <div>
        {% include "_includes/authors_list_item_head.html" %}

        <p>check</p>

        <div>
          <a href="{{ SITEURL }}/{{ author.url }}/">All articles &#10093;</a>
        </div>
      </div>

      <br><br><br>

      {% endif %}
    {% endfor %}
  {% endif %}

</div>

{% endblock content %}
