{% extends "base.html" %}


{% block content %}

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">
  
    <!-- The Grid -->
    <div class="w3-row-padding">
    
      <!-- Left Column -->
      <div class="w3-col s12 m4">
      
        <div class="w3-white w3-margin w3-text-grey w3-card-4">
          
          <div class="w3-container">
            <br>
            <h2>Ezequiel Leonardo Castaño</h2>
            <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-blue"></i>Developer - Student</p>
            <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-blue"></i>Rosario, AR</p>
            <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-blue"></i>castanoezequielleonardo@gmail.com</p>
            <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-blue"></i>+54 9 341 6759091</p>
            <hr>
  
            <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-blue"></i>Skills</b></p>

            <p class="w3-large">Python</p>
            <div class="w3-grey w3-round-xlarge" >
              <div class="w3-container w3-center w3-round-xlarge w3-blue" style="width:75%">Intermediate</div>
            </div>
            <p class="w3-large">Java</p>
            <div class="w3-grey w3-round-xlarge">
              <div class="w3-container w3-center w3-round-xlarge w3-blue" style="width:50%">Intermediate</div>
            </div>
            <p class="w3-large">C#</p>
            <div class="w3-grey w3-round-xlarge">
              <div class="w3-container w3-center w3-round-xlarge w3-blue" style="width:50%">Intermediate</div>
            </div>
            <p class="w3-large">SQL</p>
            <div class="w3-grey w3-round-xlarge">
              <div class="w3-container w3-center w3-round-xlarge w3-blue" style="width:40%">
                <div class="w3-center w3-text-white">Beginner</div>
              </div>
            </div>
            <br>

            <p class="w3-large w3-text-theme "><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-blue"></i>Languages</b></p>
            <p class="w3-large">Spanish</p>
            <div class="w3-grey w3-round-xlarge">
              <div class="w3-container w3-center w3-round-xlarge w3-blue" style="width:100%">Native</div>
            </div>
            <p class="w3-large">English</p>
            <div class="w3-grey w3-round-xlarge">
              <div class="w3-container w3-center w3-round-xlarge w3-blue" style="height:24px;width:85%">C1</div>
            </div>
            <p class="w3-large">German</p>
            <div class="w3-grey w3-round-xlarge">
              <div class="w3-container w3-center w3-round-xlarge w3-blue" style="height:24px;width:33%">A2</div>
            </div>
            <br>
            
            <strong><p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-blue"></i>Known Technologies</b></p></strong>
            <p class="w3-col s12 m6 cv-known-tech"><i class="fa fa-tags fa-fw w3-large w3-text-blue"></i>General</p>
            <div class="w3-row w3-margin-bottom">
              <p class="w3-col s12 m6 cv-known-tech-item"><i class="fa fa-check-square-o fa-fw w3-large w3-text-blue"></i>Git</p>
              <p class="w3-col s12 m6 cv-known-tech-item"><i class="fa fa-check-square-o fa-fw w3-large w3-text-blue"></i>TravisCI</p>
              <p class="w3-col s12 m6 cv-known-tech-item"><i class="fa fa-check-square-o fa-fw w3-large w3-text-blue"></i>Docker</p>
            </div>
            <p class="w3-col s12 m6 cv-known-tech"><i class="fa fa-tags fa-fw w3-large w3-text-blue"></i>Python</p>
            <div class="w3-row w3-margin-bottom">
              <p class="w3-col s12 m6 cv-known-tech-item"><i class="fa fa-check-square-o fa-fw w3-large w3-text-blue"></i>Flask</p>
              <p class="w3-col s12 m6 cv-known-tech-item"><i class="fa fa-check-square-o fa-fw w3-large w3-text-blue"></i>Numpy</p>
              <p class="w3-col s12 m6 cv-known-tech-item"><i class="fa fa-check-square-o fa-fw w3-large w3-text-blue"></i>Pandas</p>
              <p class="w3-col s12 m6 cv-known-tech-item"><i class="fa fa-check-square-o fa-fw w3-large w3-text-blue"></i>ScikitLearn</p>
              <p class="w3-col s12 m6 cv-known-tech-item"><i class="fa fa-check-square-o fa-fw w3-large w3-text-blue"></i>Pelican</p>
            </div>
            <p class="w3-col s12 m6 cv-known-tech"><i class="fa fa-tags fa-fw w3-large w3-text-blue"></i>Java</p>
            <div class="w3-row w3-margin-bottom">
              <p class="w3-col s12 m6 cv-known-tech-item"><i class="fa fa-check-square-o fa-fw w3-large w3-text-blue"></i>Java Servlet</p>
            </div>
            <p class="w3-col s12 m6 cv-known-tech"><i class="fa fa-tags fa-fw w3-large w3-text-blue"></i>.Net</p>
            <div class="w3-row w3-margin-bottom">
              <p class="w3-col s12 m6 cv-known-tech-item"><i class="fa fa-check-square-o fa-fw w3-large w3-text-blue"></i>ASP.NET Web Forms</p>
              <p class="w3-col s12 m6 cv-known-tech-item"><i class="fa fa-check-square-o fa-fw w3-large w3-text-blue"></i>WinForms</p>
              <p class="w3-col s12 m6 cv-known-tech-item"><i class="fa fa-check-square-o fa-fw w3-large w3-text-blue"></i>WPF</p>
            </div>
            <br>
          </div>
        </div><br>
  
      <!-- End Left Column -->
      </div>
  
      <!-- Right Column -->
      <div class="w3-twothird w3-row">

        <div class="w3-card-4 w3-container w3-white w3-margin w3-col l5 m11 s11 ">
          <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-book fa-fw w3-margin-right w3-xxlarge w3-text-blue"></i>Formal Education</h2>
          <h3 class="w3-text-grey">University</h3>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Information Systems Engineering</b></h5>
            <h6 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>March 2015 - <span class="w3-tag w3-blue w3-round-large">Current</span></h6>
            <div class="w3-grey w3-round-large w3-small">
              <div class="w3-container w3-center w3-round-large w3-blue" style="width:58.5%">24/41 Courses</div>
            </div>
            <p><b>Where:</b> Rosario, Santa Fe, Argentina</p>
            <p><b>Place:</b> Universidad Tecnológica Nacional Facultad Regional Rosario - UTN FRRo</p>
            <p><b>Finishing Date:</b> ~2020</p>
          </div>
          <h3 class="w3-text-grey">High School</h3>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Personal and Professional Computing Technician</b></h5>
            <h6 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Mar 2009 - Dec 2014</h6>
            <p><b>Where:</b> Rosario, Santa Fe, Argentina</p>
            <p><b>Place:</b> Escuela de Educación Técnico Profesional (E.E.T.P.) Nº 468 "Ingeniero Luis Bernardo Laporte"</p>
          </div>
          <br>
        </div>
        
        <div class="w3-card-4 w3-container w3-white w3-margin w3-col l5 m11 ">
          <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-code fa-fw w3-margin-right w3-xxlarge w3-text-blue"></i>Port Folio</h2>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Personal Blog</b> - <span class="w3-text-blue">December 2017</span></h5>
            <p>Technology Stack:
              <ul>
                <li>Pelican (Static Site Generator)</li>
                <li>Custom Theme: MinimalXYZ</li>
              </ul>
            </p>
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Minimal XYZ</b> - <span class="w3-text-blue">December 2017</span></h5>
            <p> A fork of MinimalX Pelican Theme with improvements.</p>
            <p>Technology Stack:</p>
            <ul>
              <li>W3.CSS</li>
              <li>Jinja Templates</li>
              <li>HTML5</li>
              <li>CSS3</li>
            </ul>
          </div>
          <br>
        </div>

        <div class="w3-card-4 w3-container w3-white w3-margin w3-col l5 m11 ">
          <h3 class="w3-text-grey w3-padding-16"><i class="fa fa-stethoscope fa-fw w3-margin-right w3-xxlarge w3-text-blue"></i>Contributions</h2>
          <h5><strong><a target="_blank" href="https://github.com/smoqadam/PyFladesk">PyFladesk - Python</a></strong></h5>
          <p>Create desktop application by using Flask and QtWebKit</p>         
        </div>

        {% if GITHUB_USER %}
          {% if not STABLE_REPOS %}
            {% set STABLE_REPOS = [] %}
          {% endif %}
          <div class="w3-card-4 w3-container w3-white w3-margin w3-col l5 m11 ">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-blue"></i>Own Projects</h2>

            {% for project in github_projects if project.name in STABLE_REPOS %}
              <h5><strong><a target="_blank" href="{{ project.github_url }}">{{ project.name }}  - {{ project.language }}</a></strong></h5>
              <p>{{ project.description }}</p>
            {% endfor %}
          </div>
        {% endif %}
        
        
        
        <div class="w3-card-4 w3-container w3-white w3-margin w3-col l5 m11 ">
          <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-flask fa-fw w3-margin-right w3-xxlarge w3-text-blue"></i>Research</h2>
          <h3 class="w3-text-grey">Computer Vision</h3>
          <div class="w3-container">
            <p><b>Participation:</b> <span class="w3-text-blue">Dec 2017 - </span><span class="w3-tag w3-blue w3-round-large">Current</span></p>
            <p><b>Where:</b> Rosario, Santa Fe, Argentina</p>
            <p><b>University:</b> UTN FRRo</p>
            <p><b>Topics research:</b></p>
            <ul>
              <li>OpenCV</li>
            </ul>
          </div>
          <h3 class="w3-text-grey">New Technologies</h3>
          <div class="w3-container">
            <p><b>Participation:</b> <span class="w3-text-blue">Dec 2017 - </span><span class="w3-tag w3-blue w3-round-large">Current</span></p>
            <p><b>Where:</b> Rosario, Santa Fe, Argentina</p>
            <p><b>University:</b> UTN FRRo</p>
            <p><b>Topics research:</b></p>
            <ul>
              <li>Modern frameworks</li>
              <li>Elm</li>
              <li>Rust</li>
              <li>WebAssembly</li>
              <li>Elixir</li>
            </ul>
          </div>
          <h3 class="w3-text-grey">IISIDRO</h3>
          <div class="w3-container">
            <p><b>Participation:</b> <span class="w3-text-blue">Jun 2017 - </span><span class="w3-tag w3-blue w3-round-large">Current</span></p>
            <p><b>Where:</b> Rosario, Santa Fe, Argentina</p>
            <p><b>University:</b> UTN FRRo</p>
            <p><b>Topics research:</b></p>
            <ul>
              <li>University knowledve vs Market</li>
              <li>Machine Learning in tendencies</li>
              <li>Predicting new market tendencies</li>
            </ul>
          </div>
          <h3 class="w3-text-grey">WebAssembly</h3>
          <div class="w3-container">
              <p><b>Participation:</b> <span class="w3-text-blue">Jun 2017 - Dec 2017</span></p>
              <p><b>Where:</b> Rosario, Santa Fe, Argentina</p>
              <p><b>University:</b> UTN FRRo</p>
              <p><b>Topics research:</b></p>
              <ul>
                <li>Javascrip performance</li>
                <li>Web Assembly Use Cases</li>
                <li>Benchmarks</li>
              </ul>
            </div>
          <br>
        </div>
  
      <!-- End Right Column -->
      </div>
      
    <!-- End Grid -->
    </div>
    
    <!-- End Page Container -->
  </div>
  <br>
  

{% endblock %}